.tag{
    /* position: relative;
    left: 350px;
    top:200px; */
    text-align: center;
    /* font-size: 49px; */
    text-transform: uppercase;
    /* transform: translate(-50%, -50%); */
    -webkit-text-stroke: 2px black;
    -webkit-text-stroke-color: transparent;
    color: transparent;
    background-image:linear-gradient(270deg,#ff00d0,#fed90f,#00a2ff,#09f1b8);
    -webkit-background-clip: text;
    font-weight: 800;
    background-repeat: no-repeat;
    background-position: -750px 0;
    animation: backcolor 3s linear infinite;
    letter-spacing: 8px;
    
}
@keyframes backcolor {
    100%{
        background-position: 0 0;
    }
    
}
